<% if user_signed_in? %>
  <%= link_to '登出', destroy_user_session_path, method: 'delete' %>
  <%= link_to '修改密碼', edit_user_registration_path %>
  <% if current_user.try(:admin?) %>
    <p>管理員模式</p>
  <% end  %>
<% else %>
  <%= link_to '登入', new_user_session_path %>
  <%= link_to '註冊', new_user_registration_path %>
<% end %>